@using DataAccess
@using WebApplication.Helpers
@model DataAccess.Site
           
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label", @for = "name" })
        @Html.SiteHelpFor(model => model.Name)
        <br/>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @name = "name", @placeholder="Site Name", @style = "max-width: 500px;" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label", @for = "Postcode" })
        @Html.SiteHelpFor(model => model.Postcode)
        @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
        @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.SiteSectionLabel("About the Site", "Check the boxes which apply to your site")
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsMuseum)
        @Html.SiteCheckBoxFor(model => model.IsAccredited)
        @Html.SiteCheckBoxFor(model => model.IsCastle)
        @Html.SiteCheckBoxFor(model => model.IsHistoricHouse)
    </div>
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsArtsCentre)
        @Html.SiteCheckBoxFor(model => model.IsGallery)
        @Html.SiteCheckBoxFor(model => model.IsHeritageSite)
        @Html.SiteCheckBoxFor(model => model.IsOpenAir)
    </div>
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsWorldHeritageSite)
        @Html.SiteCheckBoxFor(model => model.IsNationalTrust)
        @Html.SiteCheckBoxFor(model => model.IsPark)
        @Html.SiteCheckBoxFor(model => model.IsNatureReserve)
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.AreaIndoor, htmlAttributes: new { @class = "control-label", @for = "AreaIndoor" })
        @Html.SiteHelpFor(model => model.AreaIndoor)
        <div class="form-inline">
            @Html.EditorFor(model => model.AreaIndoor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.AreaIndoorUnits, new SelectList(Units.AreaIndoor, "Key", "Value"))
        </div>
        @Html.ValidationMessageFor(model => model.AreaIndoor)
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.AreaOutdoor, htmlAttributes: new { @class = "control-label", @for = "AreaOutdoor" })
        @Html.SiteHelpFor(model => model.AreaOutdoor)
        <div class="form-inline">
            @Html.EditorFor(model => model.AreaOutdoor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.AreaOutdoorUnits, new SelectList(Units.AreaOutdoor, "Key", "Value"))
        </div>
        @Html.ValidationMessageFor(model => model.AreaOutdoor)
    </div>
</div>

