@using ClassLibrary
@using WebApplication.Helpers
@model ClassLibrary.Site
           
<div class="row">
    <div class="form-group col-md-9">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label", @for = "name" })
        <a href="#" data-toggle="tooltip" data-title="The name of the site so you can identify it while you work.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @name = "name", @style = "max-width: 500px;" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label", @for = "postcode" })
        <a href="#" data-toggle="tooltip" data-title="Postcode of the site so we can find it on a map.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control", @name = "postcode", @style = "text-transform:uppercase" } })
        @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label>About the Site</label>
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsMuseum)
        @Html.SiteCheckBoxFor(model => model.IsAccredited)
        @Html.SiteCheckBoxFor(model => model.IsCastle)
        @Html.SiteCheckBoxFor(model => model.IsHistoricHouse)
    </div>
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsArtsCentre)
        @Html.SiteCheckBoxFor(model => model.IsGallery)
        @Html.SiteCheckBoxFor(model => model.IsHeritageSite)
        @Html.SiteCheckBoxFor(model => model.IsOpenAir)
    </div>
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsWorldHeritageSite)
        @Html.SiteCheckBoxFor(model => model.IsNationalTrust)
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.AreaIndoor, htmlAttributes: new { @class = "control-label" })
        <a href="#" data-toggle="tooltip" data-title="How big is the indoor area which visitors can visit?  In square feet or square metres.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        <div class="form-inline">
            @Html.EditorFor(model => model.AreaIndoor, new { htmlAttributes = new { @class = "form-control", @Value = "0", @min = "0", @max = "99999" } })
            @Html.DropDownListFor(model => model.AreaIndoorUnits, new SelectList(Site.AreaIndoorUnitType, "Key", "Value"))
        </div>
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.AreaOutdoor, htmlAttributes: new { @class = "control-label" })
        <a href="#" data-toggle="tooltip" data-title="How big is the indoor area which visitors can visit?  In hectares or acres.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        <div class="form-inline">
            @Html.EditorFor(model => model.AreaOutdoor, new { htmlAttributes = new { @class = "form-control", @Value = "0", @min = "0", @max = "99999" } })
            @Html.DropDownListFor(model => model.AreaOutdoorUnits, new SelectList(Site.AreaOutdoorUnitType, "Key", "Value"))
        </div>
    </div>
</div>

