@using WebApplication.Helpers
@model ClassLibrary.Site

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.Name)
        @Html.ActionLink(Model.Name, "Edit", "Sites", new { id = Model.Id }, null)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.Postcode)
        <a href="@(String.Format("https://www.google.com/maps?q={0}", Model.Postcode))" target="blank">
            @Html.DisplayFor(model => model.Postcode, new { htmlAttributes = new { @style = "text-transform:uppercase" } })
        </a>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <label>Features</label>
        @Html.SiteSummaryIconsFor(ViewData.Model)
    </div>
</div>


