@using WebApplication.Helpers
@model ClassLibrary.Site

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.Postcode)
        @Html.DisplayFor(model => model.Postcode, new { htmlAttributes = new { @style = "text-transform:uppercase" } })
    </div>
    <div class="col-md-4">
        @Html.SiteSummaryIconsFor(ViewData.Model)
    </div>
</div>


