@model ClassLibrary.Site

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Museum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Museum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Castle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Castle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorldHeritageSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorldHeritageSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoricHouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoricHouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoricSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoricSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenAir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenAir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accreditation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accreditation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaIndoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaIndoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOutdoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOutdoor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
