@using ClassLibrary
@using WebApplication.Helpers
@using WebGrease
@model IEnumerable<ClassLibrary.Site>
@{
    ViewBag.Title = "My Sites";
}
<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("Create a New Site", "Create")
</div>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayNameFor(model => model.Castle)
        </th>
        <th>Postcode</th>
        <th class="hidden-sm hidden-xs">Summary</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete Site", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Postcode)</td>
            <td class="hidden-sm hidden-xs">
                
                @Html.SiteSummaryIconsFor(item)

            </td>
            <td>
                @Html.ActionLink("Edit Site", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Monthly Data", "Index", "Months", new { id = item.Id }, null) 
            </td>
        </tr>
    }

</table>
