@using DataAccess
@using Localization
@using WebApplication.Helpers
@using WebGrease
@model IEnumerable<DataAccess.Site>
@{
    ViewBag.Title = Resources.LabelSitesList;
}
@Html.Partial("_PageTitlePartial")
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="hidden-sm hidden-xs">Postcode</th>
        <th class="hidden-xs">Features</th>
        <th style="font-weight:normal;">@Html.ActionLink("Create a New Site", "Create", null, new { id = "link-create-site" })</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete Site", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="hidden-sm hidden-xs" style="text-transform:uppercase;">@Html.DisplayFor(modelItem => item.Postcode)</td>
            <td class="hidden-xs">
                @Html.SiteSummaryIconsFor(item)
            </td>
            <td>
                @* <span class="hidden-xs">@Html.ActionLink("Site Report", "Report", new { id = item.Id }) | </span> *@
                @Html.ActionLink("Edit Site", "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.LabelPerformanceData, "Index", "Months", new { id = item.Id }, new { name = "link-months" })
            </td>
        </tr>
    }
    
</table>

