@using DataAccess
@using Localization
@using WebApplication.Helpers
@using WebGrease
@model IEnumerable<DataAccess.Site>
@{
    ViewBag.Title = Resources.LabelSitesList;
}
<div class="row">
    <div class="col-md-3">
        <h2>@ViewBag.Title</h2>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible col-md-8" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            @ViewBag.Message
        </div>
    }
</div>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Postcode</th>
        <th class="hidden-sm hidden-xs">Features</th>
        <th style="font-weight:normal;">@Html.ActionLink("Create a New Site", "Create")</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete Site", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-transform:uppercase;">@Html.DisplayFor(modelItem => item.Postcode)</td>
            <td class="hidden-sm hidden-xs">
                @Html.SiteSummaryIconsFor(item)
            </td>
            <td>
                @Html.ActionLink("Edit Site", "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.LabelPerformanceData, "Index", "Months", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

