@using WebApplication.Helpers
@model DataAccess.Month

@Html.SiteSectionLabel("Visitors Numbers and Income", "Tell us about the visitors to your site")
Total <span id="VisitorsTotal">0</span>
<div class="row">
    <div id="Visitors">
        <div class="form-group col-sm-4 col-md-3">
            @Html.SiteTextBoxFor(model => model.VisitorsGeneral)
        </div>
        <div class="form-group col-sm-4 col-md-3">
            @Html.SiteTextBoxFor(model => model.VisitorsMember)
        </div>
        <div class="form-group col-sm-4 col-md-3">
            @Html.SiteTextBoxFor(model => model.VisitorsSchool)
        </div>
    </div>
    <div class="form-group col-sm-4 col-md-3">
        @Html.SiteTextBoxFor(model => model.IncomeAdmissions, prefix: "£")
    </div>
</div>

@Html.SiteSectionLabel("Family Percentage", "What proportion of your visitors were families?")
Total <span id="FamiliesTotal">0</span> %
<div id="Families" class="row">
    <div class="form-group col-sm-4 col-md-3 percentage">
        @Html.SiteTextBoxFor(model => model.VisitorsPercentFamily, 100, 0, maxLength: 3)
    </div>
    <div class="form-group col-sm-4 col-md-3 percentage">
        @Html.SiteTextBoxFor(model => model.VisitorsPercentNoFamily, 100, 0, maxLength: 3)
    </div>

</div>

@Html.SiteSectionLabel("Age Percentages", "What percentage for visitoring were in each age group?")
Total <span id="AgesTotal">0</span> %
<div id="Ages" class="row">
    <div class="form-group col-sm-4 col-md-3 percentage">
        @Html.SiteTextBoxFor(model => model.VisitorsPercentChildren, 100, 0, maxLength: 3)
    </div>
    <div class="form-group col-sm-4 col-md-3 percentage">
        @Html.SiteTextBoxFor(model => model.VisitorsPercentAdult, 100, 0, maxLength: 3)
    </div>
    <div class="form-group col-sm-4 col-md-3 percentage">
        @Html.SiteTextBoxFor(model => model.VisitorsPercentRetired, 100, 0, maxLength: 3)
    </div>
</div>

@Html.SiteSectionLabel("Hours Open", "How many hours your site was open for each day?")
<div class="row">
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursMonday, maxLength: 4)
    </div>
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursTuesday, maxLength: 4)
    </div>
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursWednesday, maxLength: 4)
    </div>
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursThursday, maxLength: 4)
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursFriday, maxLength: 4)
    </div>
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursSaturday, maxLength: 4)
    </div>
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.HoursSunday, maxLength: 4)
    </div>
</div>
