@using WebApplication.Helpers
@model DataAccess.Month
<div class="row">
    <div class="form-group col-sm-4 col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.MarketingEffort)
    </div>
    <div class="form-group col-sm-4 col-md-3">
        @Html.SiteTextBoxFor(model => model.WebsiteVisitors)
    </div>
</div>


<div class="form-group">
    @Html.SiteSectionLabel("News Paper Coverage", "Has your site been featured in newspapers or magazines this month?")
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.RegionalNewsPaper)
        @Html.SiteCheckBoxFor(model => model.NationalNewsPaper)
    </div>
</div>

<div class="form-group">
    @Html.SiteSectionLabel("Radio Coverage", "Has your site featured on broadcast radio this month?")
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.RegionalRadio)
        @Html.SiteCheckBoxFor(model => model.NationalRadio)
    </div>
</div>

<div class="form-group">
    @Html.SiteSectionLabel("TV Coverage", "Has your site appeared on broadcast TV?")
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.RegionalTv)
        @Html.SiteCheckBoxFor(model => model.NationalTv)
        @Html.SiteCheckBoxFor(model => model.OverseasTv)
    </div>
</div>


<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.WebsiteUrl, prefix: "http://")
    </div>
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.TwitterUrl, prefix: "@")
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.FacebookUrl, prefix: "http://")
    </div>
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.YoutubeUrl, prefix: "http://")
    </div>
</div>

