@using WebApplication.Helpers
@model DataAccess.Month
<div class="row">
    <div class="form-group col-md-3 hours">
        @Html.SiteTextBoxFor(model => model.MarketingEffort)
    </div>
    <div class="form-group col-md-3">
        @Html.SiteTextBoxFor(model => model.WebsiteVisitors)
    </div>
</div>

<div class="form-group">
    @Html.SiteSectionLabel("TV Coverage", "Check the boxes which apply to your site")
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.RegionalTv)
        @Html.SiteCheckBoxFor(model => model.NationalTv)
        @Html.SiteCheckBoxFor(model => model.OverseasTv)
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.WebsiteUrl)
    </div>
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.TwitterUrl)
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.FacebookUrl)
    </div>
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.FlickrUrl)
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.YoutubeUrl)
    </div>
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.VimeoUrl)
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.InstagramUrl)
    </div>
    <div class="form-group col-md-6">
        @Html.SiteTextBoxFor(model => model.PinterestUrl)
    </div>
</div>
