@using DataAccess
@using WebApplication.Helpers
@model Month
<div class="row">
    <div class="form-group col-md-3">
        @Html.SiteTextBoxFor(model => model.NumberArtefacts)
    </div>
    <div class="form-group col-md-3">
        @Html.SiteTextBoxFor(model => model.ArtefactsDisplay) %
    </div>
</div>
<div class="form-group">
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsCollectionOutstanding)
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        @Html.SiteTextBoxFor(model => model.NumberCollectionsOutstanding)
    </div>
</div>
<div class="row">
    @foreach (var rating in Scales.Rating)
    {
        @Html.RadioButtonFor(model => model.ProgrammeMassAppeal, rating.Key)
    }
</div>
