@using DataAccess
@using WebApplication.Helpers
@model Month
<div class="form-group">
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsEvents)
    </div>
</div>      
<div id="Events">
    <div class="row">
        <div class="form-group col-md-3">
            @Html.SiteTextBoxFor(model => model.NumberAdditionalEvents)
        </div>
        <div class="form-group col-md-3">
            @Html.SiteTextBoxFor(model => model.NumberVisitorsAdditional)
        </div>
        <div class="form-group col-md-3 pounds">
            @Html.SiteTextBoxFor(model => model.IncomeAdditional)
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        @Html.SiteTextBoxFor(model => model.NumberArtefacts)
    </div>
    <div class="form-group col-md-3 percentage">
        @Html.SiteTextBoxFor(model => model.ArtefactsDisplay, 100, 0)
    </div>
</div>
<div class="form-group">
    <div class="row form-inline">
        @Html.SiteCheckBoxFor(model => model.IsCollectionsOutstanding)
    </div>
</div>
<div id="CollectionsOutstanding">
    <div class="row">
        <div class="form-group col-md-3">
            @Html.SiteTextBoxFor(model => model.NumberCollectionsOutstanding)
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.SiteRatingScaleFor(model => model.ProgrammeMassAppeal, Scales.Rating7, "Niche Interest", "Mass Market Appeal")
    </div>
</div>

