@using Localization
@using WebApplication.Helpers
@model DataAccess.Month
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Html.DisplayFor(model => model.MonthTime, "MonthYearDateTime");
}
@Html.Partial("_PageTitlePartial")
@Html.Partial("_SiteDetailsPartial", Model.Site)
@* VISITOR CYCLE NAVIGATION *@
<div style="margin-bottom: 10px;">
    <ul class="nav nav-tabs">
        <li role="presentation" class="@Html.SiteIsSelected(action: "Attention")">
            <a href="@Url.Action("Attention", new { id = Model.Id})">Attention</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Arrive")">
            <a href="@Url.Action("Arrive", new { id = Model.Id})">Arriving</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Shop")">
            <a href="@Url.Action("Shop", new { id = Model.Id})">Shopping</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Eat")">
            <a href="@Url.Action("Eat", new { id = Model.Id})">Refreshment</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Donate")">
            <a href="@Url.Action("Donate", new { id = Model.Id})">Donation</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Experience")">
            <a href="@Url.Action("Experience", new { id = Model.Id})">Experience</a>
        </li>
    </ul>
</div>
@* MONTHLY PERFORMANCE DATA FORM *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @RenderBody()
    <div class="row">
        <div class="form-group col-md-9">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        <div class="form-group col-md-3">
            @Html.ActionLink("Back to " + Resources.LabelPerformanceData, "Index", "Months", new { id = Model.SiteId }, null)
        </div>
    </div>
}

