@model IEnumerable<ClassLibrary.Month>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.MonthTime)
        </th>

        <th style="font-weight:normal;">Create</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthTime, "MonthYearDateTime")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                
            </td>
        </tr>
    }
</table>
<div class="row">
    <div class="form-group col-md-offset-9 col-md-3">
        @Html.ActionLink("Back to Sites List", "Index", "Sites")
    </div>
</div>