@using Localization
@using WebApplication.Helpers
@using WebApplication.Models
@model SiteAndMonthViewModel
@{
    var month = Model.Month;
    var site = Model.Site;
    ViewBag.Title = "Delete " + month.MonthTime.ToString("MMM yyyy") + "?";
    ViewBag.Link = Html.ActionLink("Back to " + Resources.LabelPerformanceData, "Index", "Months", new { id = month.SiteId }, null);

}
@Html.Partial("_PageTitlePartial")

<p>Are you sure you want to delete @month.MonthTime.ToString("MMMM yyyy") from @site.Name?</p>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("Id", month.Id)
        <div>
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    }
</div>
