@model ClassLibrary.Month

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Month</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonthTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketingSpend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketingSpend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionalTv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionalTv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalTv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalTv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverseasTv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverseasTv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteVisitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteVisitors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlickrUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlickrUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoutubeUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoutubeUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VimeoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VimeoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinterestUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinterestUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursMonday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursMonday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursTuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursTuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursThursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursThursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursFriday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursFriday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursSaturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursSaturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursSunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursSunday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeAdmissions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeAdmissions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeAdditional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeAdditional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorsAdditional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorsAdditional)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
