@using Localization
@using WebApplication.Helpers
@using WebApplication.Models
@model SiteAndMonthViewModel
@{
    var month = Model.Month;
    var site = Model.Site;
    ViewBag.Title = Html.DisplayFor(model => model.Month.MonthTime, "MonthYearDateTime");
    ViewBag.Link = Html.ActionLink("Back to " + Resources.LabelPerformanceData, "Index", "Months", new { id = month.SiteId }, null);
}
@Html.Partial("_PageTitlePartial")
@Html.Partial("_SiteDetailsPartial", site)
@* VISITOR CYCLE NAVIGATION *@
<div role="tablist" id="tabs" style="margin-bottom: 10px;">
    <ul id="monthTab" class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#Attention" data-toggle="tab">Attention</a>
        </li>
        <li role="presentation">
            <a href="#Arriving" data-toggle="tab">Arriving</a>
        </li>
        <li role="presentation">
            <a href="#Shopping" data-toggle="tab">Shopping</a>
        </li>
        <li role="presentation">
            <a href="#Refreshment" data-toggle="tab">Refreshment</a>
        </li>
        <li role="presentation">
            <a href="#Donation" data-toggle="tab">Donation</a>
        </li>
        <li role="presentation">
            <a href="#Experience" data-toggle="tab">Experience</a>
        </li>
    </ul>
</div>
@* MONTHLY PERFORMANCE DATA FORM *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("SiteId", month.SiteId)
    @Html.Hidden("MonthTime", month.MonthTime)
    <div class="tab-content">
        <div class="tab-pane fade in active" id="Attention">
            @Html.Partial("_Attention", month)
        </div>
        <div class="tab-pane fade" id="Arriving">
            @Html.Partial("_Arriving", month)
        </div>
        <div class="tab-pane fade" id="Shopping">
            @Html.Partial("_Shopping", month)
        </div>
        <div class="tab-pane fade" id="Refreshment">
            @Html.Partial("_Refreshment", month)
        </div>
        <div class="tab-pane fade" id="Donation">
            @Html.Partial("_Donation", month)
        </div>
        <div class="tab-pane fade" id="Experience">
            @Html.Partial("_Experience", month)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-9">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        // Adapted from https://gist.github.com/brendanmckenzie/8f8008d3d51c07b2700f
        // but using the month.id as key.
        $(function() {
            'use strict';
            // When the tab is clicked stash the name in local storage.
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                var id = $(this).parents('[role="tablist"]').attr('id');
                console.log(document.URL.split("/").pop());
                var key = document.URL.split("/").pop();
                if (id) {
                    key += ':' + id;
                }
                localStorage.setItem(key, $(e.target).attr('href'));
            });

            // When the page is loaded set the tab to the value in local storage.
            $('[role="tablist"]').each(function (idx, elem) {
                var id = $(elem).attr('id');
                var key = document.URL.split("/").pop();
                if (id) {
                    key += ':' + id;
                }
                var lastTab = localStorage.getItem(key);
                if (lastTab) {
                    $('[href="' + lastTab + '"]').tab('show');
                }
            });
        });
    </script>
}