@using Localization
@using WebApplication.Models
@model SiteAndMonthViewModel
@{
    var month = Model.Month;
    var site = Model.Site;
    ViewBag.Title = Html.DisplayFor(model => model.Month.MonthTime, "MonthYearDateTime");
    ViewBag.Link = Html.ActionLink("Back to " + Resources.LabelPerformanceData, "Index", "Months", new { id = month.SiteId }, null);
}
@Html.Partial("_PageTitlePartial")
@Html.Partial("_SiteDetailsPartial", site)

@* VISITOR CYCLE NAVIGATION *@
<div class="row">
    <div role="tablist" id="tabs" style="margin-bottom: 10px;" class="col-sm-10">
        <ul id="monthTab" class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#Attention" data-toggle="tab">
                    Marketing
                </a>
            </li>
            <li role="presentation">
                <a href="#Arriving" data-toggle="tab">
                    Visiting
                </a>
            </li>
            <li role="presentation">
                <a href="#Shopping" data-toggle="tab">
                    Shopping
                </a>
            </li>
            <li role="presentation">
                <a href="#Refreshment" data-toggle="tab">
                    Refreshment
                </a>
            </li>
            <li role="presentation">
                <a href="#Donation" data-toggle="tab">
                    Donations
                </a>
            </li>
            <li role="presentation">
                <a href="#Experience" data-toggle="tab">
                    Experience
                </a>
            </li>
        </ul>
    </div>
</div>
@using (Html.BeginForm())
{
    @* MONTHLY PERFORMANCE DATA FORM *@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("SiteId", month.SiteId)
    @Html.Hidden("MonthTime", month.MonthTime)
    <div class="tab-content">
        <div class="tab-pane in active" id="Attention">
            @Html.Partial("_Attention", month)
        </div>
        <div class="tab-pane" id="Arriving">
            @Html.Partial("_Arriving", month)
        </div>
        <div class="tab-pane" id="Shopping">
            @Html.Partial("_Shopping", month)
        </div>
        <div class="tab-pane" id="Refreshment">
            @Html.Partial("_Refreshment", month)
        </div>
        <div class="tab-pane" id="Donation">
            @Html.Partial("_Donation", month)
        </div>
        <div class="tab-pane" id="Experience">
            @Html.Partial("_Experience", month)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <input name="submit" id="previous" type="submit" value="<< Previous" class="btn btn-primary" />
            <input name="submit" id="submit" type="submit" value="Save" class="btn btn-primary" />
            <input name="submit" id="next" type="submit" value="Next >>" class="btn btn-primary" />
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        'use strict';
        // ---------------------
        // PRESERVE TAB
        // ---------------------
        // Preserve the selected tab between postbacks and visits
        // Adapted from https://gist.github.com/brendanmckenzie/8f8008d3d51c07b2700f
        // but using the month.id as key to it is unique to each month.
        // ---------------------
        $(function() {
            // When the tab is clicked stash the name in local storage.
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                var key = GetKey();
                var tabToStash = $(e.target).attr('href');
                localStorage.setItem(key, tabToStash);
                HideAndShowButtons();
            });

            // When the page is loaded set the tab to the value in local storage.
            $('[role="tablist"]').each(function(idx, elem) {
                var key = GetKey();
                var stashedTab = localStorage.getItem(key);
                if (stashedTab) {
                    $('[href="' + stashedTab + '"]').tab('show');
                }
                HideAndShowButtons();
            });

            // When the previous is clicked stash the previous tab in local storage.
            $('#previous').click(function() {
                var key = GetKey();
                var index = $('ul#monthTab li').index($('.active')) - 1;
                var tabToStash = $('ul#monthTab li a').eq(index).attr('href');
                localStorage.setItem(key, tabToStash);
            });

            // When the next is clicked stash the next tab in local storage.
            $('#next').click(function() {
                var key = GetKey();
                var index = $('ul#monthTab li').index($('.active')) + 1;
                var tabToStash = $('ul#monthTab li a').eq(index).attr('href');
                localStorage.setItem(key, tabToStash);
            });
        });
 
        // Get the key for the last tab.
        function GetKey() {
            var key = document.URL.split("/").pop();
            key = key.substring(0, key.indexOf('?'));
            key += ':tabs';
            return key;
        }

        // ---------------------
        // Hide the submit buttons when they aren't relevant.
        // ---------------------
        function HideAndShowButtons() {
            var index = $('ul#monthTab li').index($('.active')); // Bootstrap marks the active tab
            var lastIndex = $('ul#monthTab li').length - 1;
            if (index == 0) {
                $('#previous').hide();
            } else {
                $('#previous').show();
            }
            if (index == lastIndex) {
                $('#next').hide();
            } else {
                $('#next').show();
            }
        };

        // ---------------------
        // Total the families, ages and visitors
        // ---------------------
        var cssClasses = ["#Families", "#Ages", "#Visitors"];
        cssClasses.forEach(function (cssClass) {
            $(cssClass + ' input').bind("keyup", { suffix: cssClass }, AddUp); // Add up on keyup
            $(cssClass + ' input').bind("mousewheel", { suffix: cssClass }, AddUp); // Add up on mousewheel
            $(cssClass + ' input').bind("input", { suffix: cssClass }, AddUp); // Add up on input
            $(document).ready($(cssClass + ' input').trigger("input")); // Add up on document ready
        });

        function AddUp(event) {
            var sum = 0;
            var suffix = event.data.suffix;
            $(suffix + ' input').each(function () {
                sum += Number($(this).val());
            });
            $(suffix + 'Total').text(sum);
        }


        // TODO: Dry this out a bit.
        // ---------------------
        // SHOPPING
        // ---------------------
        $(document).ready(function() {
            // Attach a function to the change event
            $('input:radio[name=IsRetail]').change(function() {
                var checkedValue = $("input[name=IsRetail]:checked").val();
                if (checkedValue == "true")
                    $('#Retail').fadeIn();
                else
                    $('#Retail').hide();
            });
            // Call the event so the div is set correctly
            $('#IsRetail').change();
        });

        // ---------------------
        // REFRESHMENT
        // ---------------------
        $(document).ready(function() {
            $('input:radio[name=IsRefreshment]').change(function() {
                var checkedValue = $("input[name=IsRefreshment]:checked").val();
                if (checkedValue == "true")
                    $('#Catering').fadeIn();
                else
                    $('#Catering').hide();
            });
            // Call the event so the div is set correctly
            $('#IsRefreshment').change();
        });

        // ---------------------
        // DONATION
        // ---------------------
        $(document).ready(function() {
            // Attach a function to the change event
            $('input:radio[name=IsDonationOpportunity]').change(function() {
                var checkedValue = $("input[name=IsDonationOpportunity]:checked").val();
                if (checkedValue == "true")
                    $('#DonationOpportunity').fadeIn();
                else
                    $('#DonationOpportunity').hide();
            });
            // Call the event so the div is set correctly
            $('#IsDonationOpportunity').change();
        });

        // ---------------------
        // EXPERIENCE
        // ---------------------
        $(document).ready(function() {
            // Attach a function to the change event
            $('input:radio[name=IsAdditionalEvents]').change(function() {
                var checkedValue = $("input[name=IsAdditionalEvents]:checked").val();
                if (checkedValue == "true")
                    $('#Events').fadeIn();
                else
                    $('#Events').hide();
            });
            // Call the event so the div is set correctly
            $('#IsAdditionalEvents').change();
        });
    </script>
}
