@using Localization
@using WebApplication.Helpers
@using WebApplication.Models
@model SiteAndMonthViewModel
@{
    var month = Model.Month;
    var site = Model.Site;
    ViewBag.Title = Html.DisplayFor(model => model.Month.MonthTime, "MonthYearDateTime");
    ViewBag.Link = Html.ActionLink("Back to " + Resources.LabelPerformanceData, "Index", "Months", new { id = month.SiteId }, null);
}
@Html.Partial("_PageTitlePartial")
@Html.Partial("_SiteDetailsPartial", site)
@* VISITOR CYCLE NAVIGATION *@
<div style="margin-bottom: 10px;">
    <ul id="monthTab" class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#Attention" data-toggle="tab">Attention</a>
        </li>
        <li role="presentation">
            <a href="#Arriving" data-toggle="tab">Arriving</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Shop")">
            <a href="@Url.Action("Shop", new { id = month.Id })">Shopping</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Eat")">
            <a href="@Url.Action("Eat", new { id = month.Id })">Refreshment</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Donate")">
            <a href="@Url.Action("Donate", new { id = month.Id })">Donation</a>
        </li>
        <li role="presentation" class="@Html.SiteIsSelected(action: "Experience")">
            <a href="@Url.Action("Experience", new { id = month.Id })">Experience</a>
        </li>
    </ul>
</div>
@* MONTHLY PERFORMANCE DATA FORM *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("SiteId", month.SiteId)
    @Html.Hidden("MonthTime", month.MonthTime)
    <div id="monthTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="Attention">
            @Html.Partial("_Attention", month)
        </div>
        <div class="tab-pane fade" id="Arriving">
            @Html.Partial("_Arriving", month)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-9">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $('#monthTab a').click(function(e) {
            if ($(this).parent('li').hasClass('active')) {
                $($(this).attr('href')).hide();
            } else {
                e.preventDefault();
                $(this).tab('show');
            }
        });

    </script>
}