@model ClassLibrary.Site

@{
    ViewBag.Title = "Site Summary and Months";
}
<h2>@ViewBag.Title</h2>

@Html.Partial("../Sites/_Details", @Model)
@Html.Partial("_Months", @Model.Months)

<p>
    @Html.ActionLink("Add New Month", "Create")
</p>

