@using System.Activities.Expressions
@using WebApplication.Models
@using Localization
@model DataAccess.Site
@{
    ViewBag.Title = Resources.LabelPerformanceData;
}
<h2>@ViewBag.Title</h2>
@Html.Partial("_SiteDetailsPartial", @Model)

<table class="table">
    <tr>
        <th></th>
        <th class ="hidden-xs">Progress</thclass>
        <th>
            @Html.DisplayNameFor(model => model.Months.First().MonthTime) 
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Months)
    {
        <tr>
            <td>
                @if (item.Id != Guid.Empty) 
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
            <td class="hidden-xs">
                @if (item.Id == Guid.Empty)
                {
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
                    </div>
                }
                else
                {
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthTime, "MonthYearDateTime")
            </td>
            <td>
                @if (item.Id == Guid.Empty)
                {
                    @Html.ActionLink("Create", "Create", new { SiteId = @Model.Id, MonthTime = item.MonthTime})
                }
                else
                {
                    @Html.ActionLink("Edit", "Attention", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
<div class="row">
    <div class="form-group col-md-offset-9 col-md-3">
        @Html.ActionLink("Back to " + Resources.LabelSitesList, "Index", "Sites")
    </div>
</div>





