@model ClassLibrary.Site

@{
    ViewBag.Title = "Site Summary and Months";
}
<h2>@ViewBag.Title</h2>

@Html.Partial("../Sites/_Details", @Model)
@Html.Partial("_Months", @Model.Months)

<p>
    @Html.ActionLink("Add New Month", "Create")
</p>

<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal">
    Add New Month (modal)
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                Month Year <button type="button" class="btn btn-primary">Add</button>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal">Back to Site Summary and Months</a>
            </div>
        </div>
    </div>
</div>

