@using ClassLibrary
@model ClassLibrary.Site
@{
    ViewBag.Title = "Site Summary and Months";
}
<h2>@ViewBag.Title</h2>
@Html.Partial("../Sites/_Details", @Model)
@using (Html.BeginForm("Create", "Months", new { Id = @Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-inline">
                @Html.DropDownList("MonthTime", new SelectList(@Model.RemainingMonths, "Key", "Value"))
                <input type="submit" value="Create New Month" class="btn btn-link" />
            </div>
        </div>
    </div>
}
@Html.Partial("_Months", @Model.Months)





