@using System.Activities.Expressions
@using WebApplication.Models
@using Localization
@model DataAccess.Site
@{
    ViewBag.Title = Resources.LabelPerformanceData;
    ViewBag.Link = "My Sites";
}
@Html.Partial("_PageTitlePartial")
@Html.Partial("_SiteDetailsPartial", @Model)

<table class="table">
    <tr>
        <th></th>
        <th class="hidden-xs">Progress</th>
        <th>
            @Html.DisplayNameFor(model => model.Months.First().MonthTime)
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm("Create", "Months", new { SiteId = @Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        foreach (var item in Model.Months)
        {
            <tr>
                <td>
                    @if (item.Id != Guid.Empty)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
                <td class="hidden-xs">
                    @if (item.Id == Guid.Empty)
                    {
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"></div>
                        </div>
                    }
                    else
                    {
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 33%;"></div>
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthTime, "MonthYearDateTime")
                </td>
                <td>
                    @if (item.Id == Guid.Empty)
                    {
                        <button type="submit" name="MonthTime" value="@item.MonthTime" class="btn btn-link">Create</button>
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    }
</table>
<div class="row">
    <div class="form-group col-md-offset-9 col-md-3">
        @Html.ActionLink("Back to " + Resources.LabelSitesList, "Index", "Sites")
    </div>
</div>





